:root {
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;

  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);
  --previewShadow: #d49e093d;

  --buttonColor: black;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body * {
  transition: 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--mainText);
  font-family: 'Russo One', sans-serif;
  font-weight: 500;
}

p,
li,
span,
label,
input,
textarea {
  color: var(--secondaryText);
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: #d49e09;
}

a:hover {
  text-decoration: none;
  color: #d49e09;
}

ul {
  list-style: none;
}

h1 {
  font-size: 45px;
  font-family: sans-serif;
}
h2 {
  font-size: 36px;
  font-family: sans-serif;
}
h3 {
  font-size: 28px;
  font-family: sans-serif;
}
h4 {
  font-size: 24px;
  font-family: sans-serif;
}
h5 {
  font-size: 20px;
  font-family: sans-serif;
}
h6 {
  font-size: 16px;
  font-family: sans-serif;
}

.s1 {
  /* display: block; */
  background-color: var(--mainColor);
  border-bottom: 1px solid var(--borderColor);
  /* overflow: -moz-hidden-unscrollable; */
  /* height: 80vh; */
  overflow: auto;
}

.s2 {
  /* display: block; */
  background-color: var(--secondaryColor);
  border-bottom: 1px solid var(--borderColor);
  /* overflow:hidden; */
  overflow: auto;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  margin-bottom: 5px;
}

.greeting-wrapper {
  display: grid;
  text-align: center;
  align-content: center;
  min-height: 10em;
}

.intro-wrapper {
  background-color: var(--secondaryColor);
  border: 1px solid var(--borderColor);
  border-radius: 5px 5px 0 0;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'nav-wrapper nav-wrapper'
    'left-column right-column';
}

.nav-wrapper {
  border-radius: 5px 5px 0 0;
  grid-area: nav-wrapper;
  border-bottom: 1px solid var(--borderColor);
  display: flex;
  justify-content: space-between;
  /* justify-content: stretch; */
  align-items: center;
  background-color: var(--mainColor);
  position: sticky;
}

#navigation a {
  color: #3636369c;
  padding: 2px;
}
#navigation a:hover {
  color: #d49e09 !important;
}

#navigation {
  margin: 0;
  padding: 10px;
}

#navigation li {
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
}

.dots-wrapper {
  display: flex;
  padding: 10px;
}

#dot-1 {
  background-color: #fc6058;
}

#dot-2 {
  background-color: #fec02f;
}

#dot-3 {
  background-color: #2aca3e;
}

.browser-dot {
  background-color: black;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin: 5px;

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
}

.left-column {
  grid-area: left-column;
  padding-top: 50px;
  padding-bottom: 50px;
}

#profile_pic {
  display: block;
  margin: 0 auto;
  /* margin-bottom: 30px; */
  height: 400px;
  width: 390px;
  object-fit: cover;
}

#theme-options-wrapper {
  display: flex;
  justify-content: center;
}

.theme-dot {
  height: 20px;
  width: 20px;
  background-color: black;
  border-radius: 50%;

  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 3px -1px rgba(0, 0, 0, 0.75);

  cursor: pointer;
}

.theme-dot:hover {
  border-width: 5px;
}

#light-mode {
  background-color: #fff;
}

#blue-mode {
  background-color: #192734;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7e4c74;
}

#settings-note {
  font-size: 12px;
  font-style: italic;
  text-align: center;
}

.right-column {
  grid-area: right-column;
  display: grid;
  align-content: center;
  padding-bottom: 90px;
}

#preview {
  /* width: 4; */
  padding: 5px;
  position: relative;
  text-align: left;
}

#preview h1,
h6 {
  font-family: sans-serif;
  letter-spacing: 3px;
  color: #363636d8;
}
#preview h6 {
  color: #363636a1;
}
.corner {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1.5px solid #17a2b8;
  background-color: #fff;
  position: absolute;
}

#corner-tl {
  top: -5px;
  left: -5px;
}

#corner-tr {
  top: -5px;
  right: -5px;
}

#corner-br {
  bottom: -5px;
  right: -5px;
}

#corner-bl {
  bottom: -5px;
  left: -5px;
}
.about-me p {
  letter-spacing: 1px;
  line-height: 130%;
}

.about-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  padding-bottom: 50px;
  padding-top: 50px;
  gap: 100px;
}

#skills {
  display: flex;
  /* justify-content: space-evenly; */
  background-color: var(--previewShadow);
}

#skills ul li {
  text-align: left;
}

.social-links {
  display: grid;
  align-self: flex-start;
  text-align: left;
  /* margin-bottom: 100px; */
}
.social-media-links {
  margin: 8px 0px;
}
.social-media-links a {
  cursor: pointer;
  text-decoration: none;
}
.media {
  /* margin: 0 8px; */
  padding: 0 12px;
  /* cursor: pointer; */
  font-size: 27px;
}

.post-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.post {
  border: 1px solid var(--borderColor);
  -webkit-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 7px 21px -9px rgba(0, 0, 0, 0.75);

  /* translate: 1s; */
  color: #e5e5e5;
}

.post:hover {
  transform: scale(1.06);
}

.thumbnail {
  display: block;
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.post-preview {
  background-color: rgba(255, 255, 255, 0.753);
  padding: 15px;
}

.post-title {
  color: black;
  margin: 0;
}

.icon {
  font-size: 20px;
}

.post-intro {
  color: #4b5156;
  font-size: 14px;
}
.btn {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: rgb(110, 77, 64);
  border-radius: 50px;
  font-family: inherit;
  color: #e5e5e5;
}

#contact-form {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid var(--borderColor);
  padding: 15px;
  border-radius: 5px;
  background-color: var(--mainColor);
  margin-bottom: 50px;
}

#contact-form label {
  line-height: 2.7em;
}

#contact-form textarea {
  min-height: 100px;
  font-size: 14px;
}

.input-field {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--secondaryColor);
  border-radius: 5px;
  border: 1px solid var(--borderColor);
  font-size: 14px;
}

.send-btn {
  margin-top: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: rgba(255, 255, 255, 0.657);
  background-color: var(--buttonColor);
  border: none;
  cursor: pointer;
}

#footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 13px;
}

#copy-right-main {
  line-height: 1.8;
  letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {
  .main-container {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .intro-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas:
      'nav-wrapper'
      'left-column'
      'right-column';
  }
  .social-media-links {
    text-align: right;
  }
  #preview h1,
  h6 {
    letter-spacing: 2px;
    line-height: 105%;
  }
  #profile_pic {
    height: 300px;
    width: 290px;
  }
  .about-me p {
    letter-spacing: 1px;
    line-height: 100%;
  }

  .right-column {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  #preview-shadow {
    max-width: 280px;
    height: 180px;
    padding-left: 10px;
    padding-top: 10px;
  }
  .social-media-links {
    text-align: right;
  }
  .about-me p {
    letter-spacing: 1px;
    line-height: 100%;
  }
  h6 {
    letter-spacing: 1px;
    line-height: 100%;
  }
  #profile_pic {
    height: 220px;
    width: 200px;
  }

  #preview {
    width: 280px;
  }
}
